
<div id='form'>
    {{#each form}}
    <div class="formCard">
        <label for="{{this.question}}">{{this.question}}</label>
        <select name="{{this.question}}" id="{{this.question}}" onchange="changeFunc(this)">
            {{#each this.Options}}
            <option value='{"imgSrc":"{{image_src}}","docId":"{{question_id}}"}'>{{this.option}}</option>
            {{/each}}
        </select>
    </div>
    {{/each}}
</div>
<div id='leftColumn'>
    <div id='viewHolder'>
        <img src="./assets/baseColor.PNG" alt="baseChar" class="viewImg"id="base">
        {{#each form}}
        <img src="./assets/blank.PNG" alt="Layer {{this.question_id}}" class="viewImg" id="{{this.id}}">
        {{/each}}
    </div>
    <div id='saveEtcButtons'></div>
</div>
<script src="../javascript/virtuefig.js"></script>